@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

footer{
	width:100%;
	border-top: solid 1px black;	
}

footer div{
	width: 70vw;
	font-size:12px;
	margin-left:15%;
	font-weight:100
}

