header {
	padding: 1em 0em;
	border-radius: 8px;
	height: 100px;
}

h1 {
	margin-top: 0;
}

#header {
	text-align: center;
	color: #51e3d4;
}

nav {
	position: relative;
	margin: auto;
	width: auto;
	height: 50px;
	background: #0080FE;
	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
}

nav a {
	font-size: 15px;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}

nav .animation {
	position: absolute;
	height: 5px;
	bottom: 0;
	z-index: 0;
	background: #51e3d4;
	border-radius: 8px;
	transition: all .5s ease 0s;
}

a:nth-child(1) {
	width: 20%;
}

nav .start-서비스안내, a:nth-child(1):hover ~.animation {
	width: 20%;
	left: 0;
}

a:nth-child(2) {
	width: 20%;
}

nav .start-차량대여, a:nth-child(2):hover ~.animation {
	width: 20%;
	left: 20%;
}

a:nth-child(3) {
	width: 20%;
}

nav .start-커뮤니티, a:nth-child(3):hover ~.animation {
	width: 20%;
	left: 40%;
}

a:nth-child(4) {
	width: 20%;
}

nav .start-공지사항, a:nth-child(4):hover ~.animation {
	width: 20%;
	left: 60%;
}

a:nth-child(5) {
	width: 20%;
}

nav .start-마이페이지, a:nth-child(5):hover ~.animation {
	width: 20%;
	left: 80%;
}

.search {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 40px;
	width: 400px;
	border: 1px solid #51e3d4;
	background: #ffffff;
}

.search-txt {
	font-size: 15px;
	width: 300px;
	padding: 10px;
	border: 0px;
	outline: none;
	float: left;
	outline: none;
}

#search-btn {
	width: 50px;
	height: 100%;
	border: 0px;
	background: #51e3d4;
	outline: none;
	float: right;
	color: #ffffff;
}

.search-content {
	display: flex;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	flex-direction: column;
	width: fit-content;
	margin: 10px auto auto auto;
	border-collapse: collapse;
	border: solid 1px #51e3d4;
}

.footer {
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	border-top: 1px solid black;
}