@charset "UTF-8";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:blanchedalmond;
}

div {
	width : 500px;
	height : 200px;
	border: solid 1px black;
	    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

tr {
	margin : 5px;
}